<div id="new-synonym">
	<h1>Adding Synonym</h1>

	<%= render 'form' %>

	<%= button_to '/taxonomy', class: "btn btn-default btn-lg edit-pattern", :method => :get do %>
	  Back
	<% end %>

	<h1>Deleting Synonym</h1>

	<% @event = Event.find(params[:id]) %>	
      <table class="table table-striped">
			  <thead>
			    <tr>
			      <th></th>
			      <th></th>
			    </tr>
			  </thead>
			  <tbody>
			    <% @event.synonyms.each do |synonym| %>
			      <tr>
			        <td style="vertical-align: middle;"><%= synonym.text %></td>
			        <td>
			        	<%= button_to synonym, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
        					Delete
      					<% end %>
      				</td>
			      </tr>
			    <% end %>
			  </tbody>
			</table>

</div>

