<h1>New Pattern</h1>

<%= render 'form' %>

<%= button_to patterns_path, class: "btn btn-default", :method => :get do %>
  <span class="glyphicon glyphicon-arrow-left"></span><span style="margin-left:5px">Back</span>
<% end %>
