<% data.each do |d| %>
  <% if data.size != 0 %>
  <tr>
    <td id="sub-attribute">
      <%= d[:name] %>
    <td>
    <td id="sub-value">
      <%= d[:matched_text] %>
    </td>
    <td id="sub-regex">
      <%= d[:pattern] %>
    </td>
  </tr>
    <% if d[:sub].size != 0 %>
      <%= render :partial => 'element', locals: { data: d[:sub] } %>
    <% end %>
  <% end %>
<% end %>



