<%= form_tag("/analyze", method: "get") do %>
	<div class="form-group">
	  <%= label_tag(:log, "Log to be analyzed:") %>
	  <%= text_field_tag :log, @text, class: "form-control"%>
	  <%= submit_tag "Analyze", class: "btn btn-default btn-lg", id: "log-submit"%>
	  <div class="dropdown">
	    <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Format in
	    <span class="caret"></span></button>
	    <ul class="dropdown-menu">
	      <li><a href="#">Grok</a></li>
	      <li><a href="#">OSSEC</a></li>
	      <li><a href="#">...</a></li>
	    </ul>
	  </div>
	</div>
<% end %>
