<% data.each do |item| %>
<tr>
  <td id="check"><input type="checkbox" class="group" name="newsletter"/></td>
  <td id="attribute">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="Text input with dropdown button" id="expand" value="<UNKNOWN>">
      <div class="input-group-btn">
        <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" href="#">
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="" data-toggle="modal" data-target="#approvalModal">
              Create parser
            </a>
          </li>
        </div>
      </div>
    </div>
  </td>
  <td id="value">
    <%= item %>
  </td>
  <td id="arrow">
  </td>
  <td id="regex"><textarea class="form-control" id="text-regex" readonly> No regular expression available </textarea></td>
</tr>
<% end %>