// Place all the styles related to the analyzer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table {
	margin-top: 25px;
}

.table {
	border: 2px solid #9e9f9;
	margin-top: -15px;
}

#attribute {
	width: 40%;
	vertical-align: middle;
}

#value {
	width: 10%;
	padding-top: 15px;
	font-size: 150%;
	vertical-align: middle;
}

#arrow {
	width: 3%;
	vertical-align: middle;
}

#regex {
	max-width: 50%;
}

#text-regex {
	resize: vertical;
}

#check {
	width: 1%;
	vertical-align: middle;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
}

.group {
	float: left;
	margin-top: -15px;
}

.pattern {
	float: left;
	margin: -15px 0 0 10px;
}

#green {
	background-color: #5cb85c;
}

#pattern_text, #pattern_source, #sug_pattern {
	height: 50px;
	font-size: 130%;
}

#options {
	height: 60px;
	position: relative;
}

#g-arrow {
	position: absolute;
	width: 100px;
	height: 200px;
  left: -120px;
  top: -175px;
	background: image-url('arrow.png');
}

#p-arrow {
	position: absolute;
	width: 85px;
	height: 70px;
	top: -15px;
	left: 330px;
	background: image-url('p-arrow.png');
}

#s-arrow {
	position: absolute;
	width: 100px;
	height: 60px;
	top: 17px;
	left: -115px;
	background: image-url('s-arrow.png');
	display: none;
}

.output-pattern {
	height: 150px;
	margin-top: 10px;
	display: none;
}

#suggestion {
	margin-top: 10px;
}

#sug-select {
	display: inline-block;
	width: 91%;
	height: 50px;
	font-size: 130%;
}

#suggestion label {
	width: 15%;
	display: inline-block;
}

tr.sub {
	display: none;
}

.highlight { 
	background-color: red; 
}

.sub-table {
	width: 100%;
}

#sub-value {
	width: 33%;
	vertical-align: middle;
}

#sub-attribute {
	width: 20%;
	vertical-align: middle;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-top: 20px solid #428bca;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-bottom: 20px solid #428bca;
}

#blacklist {
	display: block;
}

#patterns {
	margin: 10px 0 0 10px;
}

#include {
	vertical-align: middle;
	width: 30px;
	height: 25px;
	margin-bottom: 5px;
}

#pattern-text {
	display: inline-block;
	width: 80%;
	margin-right: 1em;
}

#pattern-source {
	display: inline-block;
	width: 18.5%;
}

.submit-event {
	margin-top: -15px;
	font-size: 18px;
	float: right;
}

#help {
	background-color: white;
	width: 700px;
	position: absolute;
	left: 650px;
	border-radius: 5px;
}

.modal-content {
	right: 300px;
}

#search_form {
	margin: 20px 0 0 20px;
}