// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#original {
	float: left;
	width: 60%;
}  

#new {
	margin-left: 5%;
	float: left;
	width: 30%;
}

#original table td {
	height: 67px;
}

#events {
	width: 30%;
	margin-top: 20px;
}

#blue {
	height: 20px;
	width: 20px;
	float: left;
	background-color: blue;
	margin-right: 10px;
}

#red {
	clear: both;
	height: 20px;
	width: 20px;
	float: left;
	background-color: red;
	margin-right: 10px;
}

#new-synonym {
	margin: auto;
	width: 30%;
}

#e-tag {
	width: 10%;
}

#e-class {
	width: 20%;
}

#e-desc {
	width: 40%;
}

#e-synonyms {
	width: 20%;
}

#add-synonym {
	float: right;
}

#event-arrow {
	position: absolute;
	width: 85px;
	height: 70px;
	bottom: 220px;
	left: 100px;
	background: image-url('p-arrow.png');
}