// Place all the styles related to the logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#log-patterns {
	width: 15%;
	margin-bottom: 20px;
}

#name {
	width: 20%;
}

#expression {
	width: 80%;
}