// Place all the styles related to the patterns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pat-text, #pat-source, #pat-logs {
	vertical-align: middle;
}

#pat-text {
	width: 30%;
}

#pat-source {
	width: 10%
}

#pat-logs {
	width: 47%;
}

#edit {
	width: 5%;
}

#destroy {
	width: 8%;
}

#pattern-create {
	margin-top: 10px;
}

.edit-pattern {
	position: relative;
	top: -61.5px;
	left: 100px;
}

.options {
	height: 45px;
	margin-bottom: 15px;	
}

#new-pattern {
	margin: auto;
	width: 30%;
}