// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#signup, #login {
	margin-top: 15px;	
}

#login-layout {
	margin: auto;
	width: 30%;
}


