// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#signup, #login {
	margin-top: 15px;	
}

#signup-layout {
	margin: auto;
	width: 30%;
}

#new-user {
	margin: auto;
	width: 30%;
}

.user-check {
	display: block;
}

