<div>

<div class="form-group" id="log-patterns">
  <label for="sel1">Parsers:</label>
  <select class="form-control parsers" id="sel1">
    <option>Tokens</option>
    <option>Groups</option>
  </select>
</div>

<div class="table">
	 <div id='tokens'>
	  <%= render 'tokens' %>
	</div>
	<div id='groups' style='display:none'>
	  <%= render 'groups' %>
	</div>
</div>

</div>