<!DOCTYPE html>
<html>
<head>
  <title>Analyzer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/start">LogMeKnow</a>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li><a href="/start">Log management</a></li>
        <li><a href="#">Event management</a></li>
        <li><a href="/parsers">Parsers</a></li>
        <li><a href="/patterns">Patterns</a></li>
        <li><a href="/logout">Log out</a></li>
      <% else %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<div id="layout">

<%= yield %>

</div>

</body>
</html>
